SECRET_KEY=changez-moi-par-une-vraie-cle-secrete
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=plateforme_db
DB_USER=plateforme_user
DB_PASSWORD=motdepasse
DB_HOST=localhost
DB_PORT=5432

MEDIA_ROOT=/home/ubuntu/plateforme-pedagogique/backend/media
STATIC_ROOT=/home/ubuntu/plateforme-pedagogique/backend/static
